:root {
  --bg-color: #000;
  --text-color: #a8a8a8;
  --highlight-bg: #a8a8a8;
  --highlight-text: #000;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

#root {
  width: 100%;
  max-width: 800px;
  padding: 2rem;
  box-sizing: border-box;
}

h1,
h2,
p {
  margin: 0;
}
